body {
    display: flex;
    align-items: center;
   flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 14px;
    margin: 10px;
}